.swiperWrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

/*캐러셀 전체*/
.swiper {
  width: 20rem;
  height: 10rem;
}

/*캐러셀 내부 슬라이드 영역*/
.swiper-slide {
  background-color: pink;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.custom-btnWrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 24rem;
  top: 50%;
  z-index: 2;
}

.custom-prevBtn,
.custom-nextBtn {
  /* position: static; */
  top: 0;
  bottom: auto;
  border: none;
  background-color: transparent;
}

.swiper-pagination-bullet {
  background: palevioletred;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 0.7rem;
  height: 0.7rem;
  transition: width 0.5s;
  background: crimson;
}
