.thirdSwiperWrapper {
  padding-top: 5rem;
  /* padding-left: 10rem; */
  position: relative;
  display: flex;
  justify-content: center;
}

#third-swiper {
  width: 20rem;
  height: 25rem;
}

#third-swiper-slide {
  background-color: white;
}

.swiper-content > header {
  margin-left: 1rem;
}

.swiper-content-img {
  display: flex;
  justify-content: center;
}

.swiper-content-img > img {
  height: 20rem;
}

.swiper-btn-wrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 18rem;
  top: 60%;
  z-index: 2;
}

.swiper-prevBtn,
.swiper-nextBtn {
  border: none;
  background-color: transparent;
}

/*이런 식으로 넣을 수도 있음*/
/* .swiper-prevBtn {
  background-image: url("../assets/prevArrowIcon.svg");
  background-repeat: no-repeat;
}

.swiper-nextBtn {
  background-image: url("../assets/nextArrowIcon.svg");
  background-repeat: no-repeat;
} */
